/* Header Nav Area */
.header {
  border-bottom: 3px solid var(--header-border-color); 
}

.newsletter.content-over-media {
    justify-items: center;
  }
 
  @media screen and (max-width: 1000px) {
    .hide-on-mobile {
      display: none;
    }
  }
  /* custom filter selectiors */
  .dot-checkbox {
    border-radius: 0px;
    height: 0.75rem;
    width: 0.75rem;
    inset-block-start: calc(0.35em + 1px);
    background: #f79e1b;
    border: 2px solid;
  }


  /* Collection Banner */
  collection-banner .content-over-media {
    justify-items: start;
  }

  /* Read More Reveal CSS */
  #more {
    display: none;
  }
  .collection-description {
    max-width: 800px;
  }


  /* Breadcubms */
  .breadcrumb__list-item + .breadcrumb__list-item:before {
    color: white;
  }
  
 
  /* Product Card */
 
  .product-card__quick-add-button {
    background: #303030;
    color: white;
    z-index: 1;
    padding: 0.625rem;
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
  }

  /* Quick Add */
  .quick-buy-modal__content {
    align-items: start;
  }

  button.button.w-full:hover {
    background: #b3b7ba;
    border: 1px solid;
  }
  .shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background: #b2b7ba;
    border: 1px solid;
  }

  /* Product Page */

  .block-swatch,
  .quantity-selector,
  .accordion {
    background-color: #fff;
  }

  .block-swatch.is-disabled {
    background-color: #b3b7ba;
  }

  .accordion {
    padding: 0 2rem;
  }

  .shopify-section--main-product {
    background-color: #f1f3f3;
    padding: 2rem 0;
  }

  .product-gallery {
    --product-gallery-gap: .25rem;
    --product-gallery-thumbnail-list-gap: .75rem .5rem;
    --product-gallery-thumbnail-size: 6rem;
    mix-blend-mode: multiply;
    will-change: opacity;
    gap:1rem;
}