/* ++++ START: Global ++++ */
.button:hover {
  background: #b3b7ba;
}

.button--outline {
  border: 2px solid #303030;
}

.predictive-search__products {
    align-items: start;
}

/* ---- END: Global ---- */

/* ---- START: BLOG ---- */
ul.blog-tags li {
  border: 2px solid;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

img.blog-post-card__image {
  height: 200px;
  object-fit: cover;
}

/* ---- END: BLOG ---- */

/* ++++ START: Customer Account ++++ */
.customer-account-box {
  align-items: flex-start;
  min-height: fit-content;
}
.customer-account-overview th {
  opacity: 1;
  text-align: left;
  background-color: #262f4d;
  color: #fff;
  vertical-align: middle;
  padding: 0.5rem;
  font-size: 0.75rem;
}
.customer-account-overview :is(th, td):last-child {
  text-align: right;
}
.customer-account-overview td {
  padding: 1rem 0.5rem;
  font-size: 0.85rem;
}
/* ---- END: Customer Account ---- */

/* ++++ START: Header ++++ */
.header {
  border-bottom: 3px solid #303030; 
}

.header__nav-icon.icon.icon-search {
  display: inline-block;
  margin: 0 4px 0 0;
}

/* ---- END: Header ---- */

/* ++++ START: Banners ++++ */

.newsletter.content-over-media {
    justify-items: center;
  }

  .content-over-media .h1 {
    margin-top: 0px;
}
 
  @media screen and (max-width: 1000px) {
    .hide-on-mobile {
      display: none;
    }
  }
  /* custom filter selectiors */
  .dot-checkbox {
    border-radius: 0px;
    height: 0.75rem;
    width: 0.75rem;
    inset-block-start: calc(0.35em + 1px);
    background: #f79e1b;
    border: 2px solid;
  }

  collection-banner .content-over-media {
    justify-items: start;
  }

  /* ---- END: Banners ---- */

  /* Read More Reveal CSS */
  #more {
    display: none;
  }
  .collection-description {
    max-width: 800px;
  }


  /* Breadcubms */
  .breadcrumb__list-item + .breadcrumb__list-item:before {
    color: white;
  }
  
 
  /* Product Card */
 
  .product-card__quick-add-button {
    background: #303030;
    color: white;
    z-index: 1;
    padding: 0.125rem;
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
    width: 90%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
  }

  /* Quick Add */
  .quick-buy-modal__content {
    align-items: start;
  }

  button.button.w-full:hover {
    background: #b3b7ba;
    border: 1px solid;
  }
  .shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background: #b2b7ba;
    border: 1px solid;
  }

  /* Product Page */
/* badges start */



.text-with-badge {
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 0.75rem 0.5rem;
  display: flex;
}


.shopify-section--main-product {
  background-color: #f1f3f3;
  padding: 2rem 0;
}
.product-info__block-item:is([data-block-type="badges"]) .badge {
  color: #ffffff;
  background-color:#7C6E4E;
  letter-spacing: 0.085rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  margin-right: 8px;
  border: solid 1px #e2e2e2;
}

@media screen and (max-width: 1000px) {
  .product {
    position: relative;
  }

  .product-info__block-item:is([data-block-type="badges"]) .badge {
    position: absolute;
    top: .5rem;
    left: .5rem;
    
  }
}

.variant-picker__option-values .h-stack
{
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 8rem), 1fr));
  gap: .5rem;
}

.variant-picker__option-values .v-stack
{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 8rem), 1fr));
  gap: .5rem;
}

 
 .quantity-selector {
  background: #ffffff;
 }

.block-swatch {
    background-color: white;
    padding: .25rem;
    flex: 1 1 calc(25% - 0.500rem); /* Each element takes up to one-quarter of the container's width */
    box-sizing: border-box;
    max-width: calc(25% - 0.500rem); /* Ensuring the maximum width */
    font-weight: bold;
}




  :checked + .block-swatch.is-disabled {
    background-color: #dbdbdb;
    opacity:.35;
    text-decoration: line-through;
  }

  .block-swatch.is-disabled {
    background-color: #dbdbdb;
    opacity:.35;
  }

  .block-swatch.is-disabled:before {
    background-color: #dbdbdb;
    opacity:0;
  }

  :checked + .block-swatch.is-disabled:before {
    background-color: #dbdbdb;
    opacity:.0;

  }

  .accordion {
    padding: 0 2rem;
  }

  .accordion[aria-expanded="true"] {
  background-color: #ffffff;
}

.line-item-property input, .line-item-property select, .line-item-property textarea {
  background: #ffffff;
  margin-bottom: 0.75rem;
}
.custom-properties-section-product .prose {
  margin-bottom: 5px;
}

.custom-properties-section-product {
  margin: 1.5rem 0;
}



  .quick-buy-modal::part(content) {
    background-color: #f1f3f3;
}

  .product-gallery {
    --product-gallery-gap: .25rem;
    --product-gallery-thumbnail-list-gap: .75rem .5rem;
    --product-gallery-thumbnail-size: 6rem;
    mix-blend-mode: multiply;
    -webkit-mix-blend-mode: multiply;
    -moz-mix-blend-mode: multiply;
    -o-mix-blend-mode: multiply;
    will-change: opacity;
    gap:1rem;
    
}

@media screen and (max-width: 699px) {

.quick-buy-modal__gallery-wrapper {
    background: white;
    padding: 2rem;
}

.product-gallery__carousel-with-arrows {
  justify-content: space-between;
}
}


/* Mega Menu Styles */

.orange-divider {
  width: 1px;
    background-color: orange;
    margin: 0 20px;
    align-self: stretch;
}


.mega-menu {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  max-height: none;
  left: 0;
  right: 0;
  margin: auto;
  --mega-menu-gap: 2.5rem;
  --mega-menu-linklist-gap: 2.5rem;
  --mega-menu-promo-gap: 2.5rem;
  border-top: 3px solid black;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}


.mega-menu__linklist {
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 5rem !important;
}

.mega-menu__linklist > * {
  text-align: left; /* horizontally aligns the text */
}

.mega-menu__promo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  row-gap: 2rem;



}


.header__dropdown-menu {
    margin-top: 3px;
  border: none;
}

th,
.size-guide tr td:first-child {
  opacity: 1;
  text-align: center;
  background-color: #262f4d;
  color: white;
  font-weight: bold;
  vertical-align: middle;
  padding: 1rem;
  font-size: 1rem;
}

/* Product Page */
.product-gallery {
  padding-bottom: 0px;
  margin-bottom: -3.5rem;
}
/* popup background color */
#pwwp__bg-id {
  background-color: white !important;
}
/* Product Page End */